{{#if isSecondary}}
<ul class="m-0 flex list-none flex-wrap items-center justify-center gap-4 p-0 md:justify-start">
    {{#foreach navigation}}
    <li>
        <a href="{{url absolute=" true"}}"
            class="text-sm font-medium text-muted-foreground transition-colors hover:text-foreground">{{label}}</a>
    </li>
    {{/foreach}}
</ul>
{{else}}

    {{#foreach navigation}}
        <li class="group list-none shrink-0">
            {{#link href=(url absolute="true") class="cursor-pointer md:py-2 text-center md:h-5 md:transition-opacity group-hover:opacity-80 md:duration-300"
            activeClass="underline underline-offset-4 decoration-primary"}}
                {{label}}
            {{/link}}
        </li>
    {{/foreach}}
{{/if}}