{{!< default}}

{{#if @page.show_title_and_feature_image}}
{{> "hero"}}
{{/if}}

{{#post}}
  <article class="mx-auto pb-24 max-w-7xl px-4 md:px-12 lg:px-16 2xl:px-0">
    <div class="prose prose-lg prose-invert mx-auto mb-16 max-w-3xl prose-headings:font-bold prose-a:text-(--ghost-accent-color) hover:prose-a:opacity-90 prose-code:rounded prose-code:bg-zinc-800 prose-code:px-1.5 prose-code:py-0.5 prose-code:text-sm prose-pre:border prose-pre:border-zinc-800 prose-pre:bg-zinc-950">
      {{content}}
    </div>
  </article>

{{/post}}
