{{!< default}}

{{#if @page.show_title_and_feature_image}}
{{> "hero"}}
{{/if}}

{{#post}}
<article class="pb-24 px-4 md:px-8 max-w-7xl mx-auto w-full">

    <div class="prose prose-lg md:prose-xl prose-slate dark:prose-invert mx-auto max-w-3xl prose-headings:font-bold prose-a:text-indigo-600 dark:prose-a:text-indigo-400 hover:prose-a:text-indigo-500">
        {{content}}
    </div>
</article>
{{/post}}
