{{!< default}}

{{> "hero"}}

<section class="mx-auto max-w-324 px-4 md:px-12 lg:px-16 xl:px-20 2xl:px-0">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
    </div>

    <div class="mt-16 flex justify-center">
        {{pagination}}
    </div>

</section>
